# Ignore object files
*.o
**/*.o

# Common build outputs used in this repository
bin/
obj/
*.img
*.log

# Editor and OS files
*.swp
*~
.vscode/
.DS_Store

# clang 用的index缓存 
*.idx
compile_commands.json